{% extends 'base.html.twig' %}

{% block title %}- commentaires{% endblock %}

{% block body %}
    <h1>Liste des commentaires</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>nom d'utilisateur</th>
                <th>Contenu</th>
                <th>Valide</th>
                <th>Crée le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for com in comments %}
            <tr>
                <td>{{ com.id }}</td>
                <td>{{ com.username }}</td>
                <td>{{ com.content }}</td>
                <td>{{ com.valid ? 'Yes' : 'No' }}</td>
                <td>{{ com.createdAt ? com.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('comment_show', {'id': com.id}) }}">voir plus</a>
                    {% if com.valid == 0 %}
                        <a href="{{ path('admin_valid', {'id': com.id}) }}">valider</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">aucun commentaire</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    {% if app.request.get('_route') == 'admin_comment_index' %}
        <a href="{{ path('admin_index') }}">Retour à l'acceuil (admin)</a>
    {% else %}
        <a href="{{ path('user_index') }}">Retour à l'acceuil (user)</a>
    {% endif %}

{% endblock %}
