{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    <h1>Comment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ comment.username }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th>Valid</th>
                <td>{{ comment.valid ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div style="display:flex">
        {% if comment.valid == 0 %}
            <a style="margin-right: 5px;" href="{{ path('admin_valid', {'id': comment.id}) }}"><button class="btn btn-primary">valider</button></a> 
        {% endif %}
        {{ include('comment/_delete_form.html.twig') }}
    </div>
    <a href="{{ path('admin_comment_index') }}">retourner à la liste</a>
{% endblock %}
