{% extends 'base.html.twig' %}

{% block title %}- modifier {{ category.name }}{% endblock %}

{% block body %}
    <h1>Modifier {{ category.name }}</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('category/_delete_form.html.twig') }}

    <a href="{{ path('admin_category_index') }}">Retour à la liste</a>
{% endblock %}
