{% extends 'base.html.twig' %}

{% block title %}- Catégorie{% endblock %}

{% block body %}
    <h1>Index catégorie</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                {% if app.request.get('_route') == 'admin_category_index' %}
                <td>
                    <a href="{{ path('admin_category_show', {'id': category.id}) }}">Voir plus</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>
                </td>
                {% else %}
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">Voir plus</a>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.request.get('_route') == 'admin_category_index' %}
        <a href="{{ path('category_new') }}">Créer une catégorie</a>
        <a href="{{ path('admin_index') }}">Retour à l'acceuil (admin)</a>
    {% else %}
        <a href="{{ path('user_index') }}">Retour à l'acceuil (user)</a>
    {% endif %}
{% endblock %}
