{% extends 'base.html.twig' %}

{% block title %}Catégorie{% endblock %}

{% block body %}
    <h1>Catégorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    {% if app.request.get('_route') == 'admin_category_show' %}
        <a href="{{ path('admin_category_index') }}">retour à la liste</a>
        <a href="{{ path('category_edit', {'id': category.id}) }}">Modifier</a>
    {% else %}
        <a href="{{ path('category_index') }}">retour à la liste</a>
    {% endif %}
{% endblock %}
