{% extends 'base.html.twig' %}

{% block title %}
    {% if app.request.get('_route') == 'admin_index' %}
        - Admin
    {% else %}
        - Accueil
    {% endif %}
{% endblock %}

{% block header %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark px-4 mb-3">
        <a class="navbar-brand" href="{{ path('user_index') }}">LEZBLOGUE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('user_index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=
                        {% if app.request.get('_route') == 'admin_index' %}
                            "{{ path('admin_post_index') }}"
                        {% else %}
                            "{{ path('post_index') }}"
                        {% endif %}
                    >Posts</a>
                </li>
                {% if app.request.get('_route') == 'admin_index' %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_category_index') }}">Catégories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_comment_index') }}">Commentaires</a>
                </li>
                {% endif %}
            </ul>
        </div>
        {% if app.request.get('_route') != 'admin_index' %}
            <a href="{{ path('admin_index') }}">
                <button class="btn btn-outline-success my-2 my-sm-0">Administration</button>
            </a>
        {% else %}
            <a href="{{ path('user_index') }}">
                <button class="btn btn-outline-danger my-2 my-sm-0">Déconnexion</button>
            </a>
        {% endif %}
    </nav>
{% endblock %}
{% block body %}
    {% if app.request.get('_route') != 'admin_index' %}
        <h1>5 derniers articles</h1>
        {% for post in latestPosts %}
        <table class="table">
            <thead>
                <tr>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date de publication</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ post.title }}</td>
                    <td>{{ post.description }}</td>
                    <td>{{ post.published_at|date('Y-m-d H:i:s') }}</td>
                    {% if app.request.get('_route') == 'admin_post_index' %}
                        <td>
                            <a href="{{ path('admin_post_show', {'slug': post.slug}) }}">Voir plus</a>
                            <a href="{{ path('admin_post_edit', {'slug': post.slug}) }}">Modifier</a>
                        </td>
                    {% else %}
                        <td><a href="{{ path('post_show', {'slug': post.slug}) }}">Voir plus</a></td>
                    {% endif %}
                </tr>
            </tbody>
        </table>
        {% endfor %}
        <h1>5 derniers commentaires</h1>
        {% for com in latestComments %}
        <table class="table">
            <thead>
                <tr>
                    <th>Utilisateur</th>
                    <th>Contenu</th>
                    <th>Article</th>
                    <th>Posté le...</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ com.username }}</td>
                    <td>{{ com.content }}</td>
                    <td>{{ com.post_id }}</td>
                    <td>{{ com.created_at|date('Y-m-d H:i:s') }}</td>
                </tr>
            </tbody>
        </table>
        {% else %}
        <td>Aucun commentaire trouvé</td>
        {% endfor %}
    {% endif %}
{% endblock %}

