<form method="post" action="{{ path('admin_post_delete', {'id': post.id}) }}" onsubmit="return confirm('Êtes vous sûr de vous ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
    <button class="btn btn-secondary">Supprimer</button>
</form>
