{% extends 'base.html.twig' %}

{% block title %}- Modifier {{ post.title }}{% endblock %}

{% block body %}
    <h1>Modifer {{ post.title }}</h1>

    {{ include('post/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('post/_delete_form.html.twig') }}

    <a href="{{ path('admin_post_index') }}">Retour à la liste</a>
{% endblock %}
