{% extends 'base.html.twig' %}

{% block title %}- post{% endblock %}

{% block body %}
    <h1>Liste des posts</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Contenu</th>
                <th>Slug</th>
                <th>Créé le</th>
                <th>Mis à jour le </th>
                <th>Publié le</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.slug }}</td>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.publishedAt ? post.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                {% if app.request.get('_route') == 'admin_post_index' %}
                    <td>
                        <a href="{{ path('admin_post_show', {'slug': post.slug}) }}">Voir plus</a>
                        <a href="{{ path('admin_post_edit', {'slug': post.slug}) }}">Modifier</a>
                    </td>
                {% else %}
                    <td><a href="{{ path('post_show', {'slug': post.slug}) }}">Voir plus</a></td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun post trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ knp_pagination_render(posts) }}

        {% if app.request.get('_route') == 'admin_post_index' %}
            <a href="{{ path('admin_post_new') }}">Créer un nouveau post</a>    
            <a href="{{ path('admin_index') }}">Retour à l'acceuil (admin)</a>
        {% else %}
            {{ render(controller('App\\Controller\\CommentController::lastValid'))}}
            <a href="{{ path('user_index') }}">Retour à l'acceuil (user)</a>
        {% endif %}
{% endblock %}
