{% extends 'base.html.twig' %}

{% block body %}
<h3>Les 5 derniers commentaires</h3>
<div style="display:flex;">
    {% for com in comments %}
            <table class="table" style="width:20%">
                    <tr>
                        <td>post : {{ com.id }}</td>
                    </tr>
                    <tr>
                        <td>{{ com.username }}</td>
                    </tr>
                    <tr>
                        <td>{{ com.created_at|date('Y-m-d H:i:s') }}</td>
                    </tr>
            </table>
    {% endfor %} 
</div>
<h3>Les catégories</h3>
<div style="display:flex;">
    {% for cat in category %}
            <table class="table" style="width:20%">
                    <tr>
                        <td>{{ cat.name }}</td>
                    </tr>
                    <tr>
                        <td>nb de post : {{ render(controller('App\\Controller\\CategoryController::countPost', {'postid' : cat.id }))}}</td>
                    </tr>
            </table>
    {% endfor %} 
</div>
{% endblock %}