{% extends 'base.html.twig' %}

{% block title %}- Nouveau post{% endblock %}

{% block body %}
    <h1>Créer un nouveau post</h1>

    {{ include('post/_form.html.twig') }}

    <a href="{{ path('admin_post_index') }}">Retour à la liste</a>
{% endblock %}
