{% extends 'base.html.twig' %}

{% block title %}- {{ post.title }}{% endblock %}

{% block body %}
    <h1>Post : {{ post.title }}</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ post.content }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ post.slug }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Mis à jour le</th>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Publié le</th>
                <td>{{ post.publishedAt ? post.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Catégorie(s)</th>
                <td>{% for cat in post.categories %}
                        {{ cat.name }}
                    {% endfor %}
                </td>
            </tr>
        
        </tbody>
    </table>

    <h2>Commentaires</h2>
    <table class="table">
        <tbody>
        {% for comment in comments %}
            <tr>
                <th>Utilisateur</th>
                <td>{{ comment.username }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ comment.content }}</td>
            </tr>
            <tr>
                <th>Posté le...</th>
                {% if app.request.get('_route') == 'admin_post_show' %}
                    <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                {% else %}
                    <td>{{ comment.created_at ? comment.created_at|date('Y-m-d H:i:s') : '' }}</td>
                {% endif %}
            </tr>
        {% if app.request.get('_route') == 'admin_post_show' %}
            <tr>
                <th>
                        {{ include('comment/_delete_form.html.twig') }}
                </th>
                <th>
                    {% if comment.valid == 0 %}
                        <a href="{{ path('admin_valid', {'id' : comment.id, 'idpost' : post.id}) }}">
                            <button class="btn btn-primary">
                                Valider
                            </button>
                        </a>
                    {% endif %}
                </th>
            </tr>
        {% endif %}
            <tr>
                <th></th>
                <td></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun commentaire trouvé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.request.get('_route') == 'admin_post_show' %}
        <a href="{{ path('admin_post_index') }}">Retour à la liste (admin)</a>
        <a href="{{ path('admin_post_edit', {'slug': post.slug}) }}">Modifier</a>
    {% else %}
        {{ render(controller('App\\Controller\\CommentController::addCommentFromPost', { 'postid' : post.id })) }}
        {{ render(controller('App\\Controller\\CommentController::lastValid'))}}
        <a href="{{ path('post_index') }}">Retour à la liste</a>
    {% endif %}
{% endblock %}
